body {
  max-width: 1440px;
  font-family: Helvetica, arial;
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}
p {
  line-height: 20px;
  font-size: 16px;
  color: gray;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.underline {
  text-decoration: underline;
}

.sec-1-btn {
  font-weight: bold;
  color: white;
  font-size: 11px;
  height: 40px;
  width: 134px;
  background-color: #fa6980;
  border: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding-top: 6px;
  text-transform: uppercase;
}
.icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

/* --------------footer----------*/

footer {
  height: 200px;
  align-items: center;
  justify-content: center;
  background-color: #a6adb4;
}

.footer-container {
  justify-content: space-between;
  height: 130px;
  /* height: auto; */
  width: 85%;
}

.footer-logo h2 {
  color: white;
}
.footer-logo {
  margin-right: 30px;
}
.lines ul li a {
  margin: 20px;
}
.lines ul li {
  padding-bottom: 8px;
}
.lines ul li a {
  color: rgb(216, 211, 211);
  font-size: 13px;
  font-weight: bold;
}
/* --------mid---footer--- */
.footer-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-mid input {
  background-color: transparent;
  height: 33px;
  width: 255px;
  border: 1px solid rgb(216, 211, 211);
  border-radius: 4px;
}
.footer-mid input::placeholder {
  color: rgb(216, 211, 211);
}

.footer-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-btn {
  margin-left: -33px;
  height: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.footer-mid p {
  margin-top: 15px;
  line-height: 12px;
  font-size: 12px;
  color: rgb(216, 211, 211);
}
/* -------header-------- */
/* 
.header {
  padding: 10px;
  height: 50px;
  background-color: #f6f8f9;
}
.logo {
  font-size: 13px;
  color: #fa6980;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.nav-menu ul {
  margin-right: 20px;
}
.nav-menu a {
  margin-right: 15px;
  font-weight: 600;
  font-size: 11px;
  color: gray;
  line-height: 20px;
}
.nav-menu a:first-child {
  color: black;
}

.profile-pic {
  width: 40px;
  border-radius: 50%;
} */
